@keyframes duplicates_test_one {
    0%, 20.15% {
        transform: translateY(0);
    }
    20.15% {
        transform: translateY(10);
    }
}

@keyframes duplicates_test_two {
    0%, 50.1% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10);
    }
}
